{% extends "layout.html" %}
{% block content %}
    <h1>About Us</h1>

    <div class="content-section">
      <div class="media">
        <img id="about" src="static\profile_pics\Aboutus.png" alt="Project About us">
      </div><hr>
      <div class="desc">
        <h2 style="text-align:center;" id="name"> <b>ABHISHEK BAGATE</b> </h2>
        <p style="text-align:center;">Hey there,<br>This blog is created for the updates of our <br>acadamic as well as the on-campus and off-campus updates.
    <br> <br> For any query write us on <br><a href="#"><b>dev.abhishek98@gmail.com</b></a></p>


      <tr><tr><tr><tr><tr><tr>

      </tr><div class="row">
        <div class="col-sm">
          <a href="https://www.linkedin.com/in/abhishek-bagate-b8983914b"> <i class="fab fa-linkedin"></i> </a>
        </div>
        <div class="col-sm">
          <a href="https://www.instagram.com/abhishek_bagate_15/"> <i class="fab fa-instagram"></i> </a>
        </div>
        <div class="col-sm">
          <a href="http://www.abhishekbagate.offyoucode.co.uk/Abhi/Portfolio"> <i class="far fa-address-card"></i> </a>
        </div>
        <div class="col-sm">
          <a href="https://github.com/abhishek15898"> <i class="fab fa-git"></i> </a>
        </div>
      </div>
    </div>
  </div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock content %}
